<div class="nav-content">
  <ul class="tabs tabs-transparent">
    <li id="mregLibro" class="tab"><a class="active" href="#">Agregar libro</a></li>
    <li id="madmLibro" class="tab"><a href="#">Administrar libros</a></li>
    <li id="mregCat" class="tab"><a href="#">Agregar categoria</a></li>
    <li id="madmCat" class="tab"><a href="#">Administrar categorias</a></li>
  </ul>
</div>