<footer class="page-footer red darken-4">
	<div class="container">
		<div class="row">
			<div class="col s9">
				<h5 class="white-text">Ubicación:</h5>
        <p class="grey-text text-lighten-4">
          <i class="material-icons">location_on</i>
          Carretera a Santa Tecla km. 11, La Libertad, El Salvador C.A</p>
        <p class="grey-text text-lighten-4"><i class="material-icons">phone</i> (503) 2132-7400</p>
			</div>
			<div class="col s3">
				<h5 class="white-text">Paginas Similares:</h5>
				<a href="https://www.biblionline.pearson.com/Pages/Default.aspx">
          <img src="../resources/imagenes/person.png" alt="Biblioteca Virtual Person" height="40" width="60">
        </a>
				<a href="https://muse.jhu.edu/">
          <img src="../resources/imagenes/muse.png" alt="proyecto muse" height="40" width="45">
        </a>
				<a href="http://site.ebrary.com">
          <img src="../resources/imagenes/ebrary.jpg" alt="Biblioteca ebrary" height="40" width="60">
        </a>
				<a href="http://www.ciberoteca.com/homecas.asp">
          <img src="../resources/imagenes/cabecera_ciberoteca.png" alt="ciberoteca" height="40" width="80">
        </a>
				<a href="http://www.oecd-ilibrary.org/">
          <img src="../resources/imagenes/oecd.png" alt="oecdlibrary" height="40" width="90">
        </a>        		
			</div>
		</div>

	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2017 Creado por alumnos de ITCA-FEPADE
		</div>
	</div>
</footer>
</body>
</html>